.categories-list {
    columns: 6;
    column-gap: 0px;
    height: 700px;
    column-fill: auto;
    list-style-type: none;
}

.categories-list li {
    cursor: pointer;
    font-size: 20px;
}

.categories-list li:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1800px) {
    .categories-list {
        columns: 4;
        height: 1200px;
    }
}

@media (max-width: 1300px) {
    .categories-list {
        columns: 2;
        height: 2000px;
    }
}

@media (max-width: 1100px) {
    .categories-list {
        columns: unset;
        height: unset;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

@media (max-width: 500px) {
    .categories-component {
        text-align: center;
    }

    .categories-component h2 {
        font-size: 18px;
    }

    .categories-list li {
        font-size: 16px;
    }
}