.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

.categories-list li {
    cursor: pointer;
}

.categories-list li:hover {
    background-color: black;
    color: white;
}