.feed-component {
    background-image: url('../assets/notebook.png');
    background-size: cover;
    min-height: 800px;
}

.current-post {
    max-width: 400px;
    margin: 0px auto;
    padding: 150px 0px;
}

.post-body {
    min-height: 100px;
}

.post-arrows {
    display: flex;
}

.post-arrows p {
    margin: 0px 10px;
}

.arrow-left {
    display: flex;
    cursor: pointer;
}

.arrow-right {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.arrow-hide {
    display: none;
}