.feed-component {
    background-image: url('../assets/notebook.png');
    background-size: cover;
    min-height: 800px;
}

.current-post {
    max-width: 400px;
    margin: 0px auto;
    padding: 150px 0px;
}

.current-post h2 {
    font-size: 30px;
}

.current-post p {
    font-size: 22px;
}

.post-body {
    min-height: 250px;
}

.post-arrows {
    display: flex;
}

.post-arrows p {
    margin: 0px 10px;
}

.arrow-left {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0px 10px;
}

.arrow-right {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    align-items: center;
    padding: 0px 10px;
}

.arrow-right:hover, .arrow-left:hover {
    background-color: black;
    color: white;
}

.arrow-hide {
    display: none;
}

@media (max-width: 1800px) {
    .feed-component {
        min-height: 1000px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}