.home {
    display: flex;
    gap: 50px;
}

.categories {
    flex: 3;
}

.feed {
    flex: 5;
}

.post-arrows {
    display: flex;
}

.post-arrows p {
    margin: 0px 10px;
}

.arrow-left {
    display: flex;
}

.arrow-right {
    display: flex;
    margin-left: auto;
}

.suggested-posts {
    flex: 4;
}