.home {
    display: flex;
    gap: 50px;
    margin: 20px 80px;
}

.categories {
    flex: 5;
}

.feed {
    flex: 3;
}

@media (max-width: 1800px) {
    .categories {
        flex: 4;
    }

    .feed {
        flex: 4;
    }
}