.home {
    /* display: flex;
    gap: 50px; */
    margin: 20px 80px;
}

.categories {
    display: inline-block;
    width: calc(100vw - 700px);
}

.feed {
    display: inline-block;
    width: 500px;
}

@media (max-width: 1800px) {
    .categories {
        flex: 4;
    }

    .feed {
        flex: 4;
    }
}