.post-result {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.post-result:hover {
    background-color: black;
    color: white;
}

.post-result h3 {
    font-size: 22px;
}

.post-result p {
    font-size: 20px;
}